# Public URL for your blog (set this to your final domain)
GHOST_URL=https://hitchhikerdiary.pavalep.com

# Local host port where Ghost listens (proxied by Nginx/Caddy)
GHOST_PORT=2368

# MySQL credentials
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=ghost
MYSQL_USER=ghost
MYSQL_PASSWORD=change_me_db_password
